html, body {
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    height: 7em;
}

h1{
    font-size: 1.2em;
    letter-spacing: 0.2em;
    font-weight: 300;
}

.slideShow{
    height: 100%;
}