html{
    height: 100%;
    margin: 0;
    font-weight: 300;
}

.as{
   /*border: dashed red 1px;*/
}

body{
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

.navbar-font{
    font-weight: 300;
    color: black;
}

p{
    font-weight: 300;
}

.row-menubar{
    min-height: 17vh;
    background-image: linear-gradient(to right, white, #f5f5f5, white);
    border-bottom: solid black 1px;
}

.stickyInfo{
    border-left: solid black 1px;
}

.langMenu{
    display: inline-flex;
    list-style: none;
}

.nav-item .dropdown-item{
    font-size: 0.9em;
}

h1{
    font-size: 2em;
    letter-spacing: 0.01em;
    font-weight: 300;
}

h2{
    font-size: 1.5em;
    letter-spacing: 0.02em;
    font-weight: 300;
}

.bg{
    background-image: url(img/kimi-lee-24tQMaV32Y0-unsplash.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-customized {
    height: 100vh;
    padding-top: 35vh;
}

.brandName {
    color: black;
    font-size: 1.3em;
    letter-spacing: 0.05em;

}

.artistPortfolio{
    border-right: solid white 3px;
    background-image: linear-gradient(to left, #f8f9fa, white);
}

.buttonBorder{
    background-color: #f8f9fa;
}

#angleRight{
    font-size: 3em;
    font-weight:300;
}

.row-breaker{
    min-height: 8vh;
    border-bottom: solid black 1px;
}

.row-bottom{
    min-height: 25vh;
    border-bottom: solid black 1px;
}

.col-customized{
    padding: 0;
}

.col-customized, .special{
    padding-right: 4px;
}

#brandLogo{
    color: black;
    font-size: 3.5em;
    font-weight: lighter;
    line-height: 60%;
    letter-spacing: -0.125em;
}

#brandLogoFooter{
    color: black;
    font-size: 1.5em;
    font-weight: lighter;
    line-height: 60%;
    letter-spacing: -0.125em;
}

.slogan{
    color: black;
    font-size: 1.3em;
    font-weight: lighter;
    letter-spacing: normal;
}

.description{
    font-size: 1.1em;
    font-weight: lighter;
    letter-spacing: -.05em;
}

#infoExhib{
    line-height: 60%;
}

#fadeButton{
    height: 70vh;
}

.breadcrumb{
    list-style: none;
}

.row-footer{
    height: 25vh;
    background-image: linear-gradient(to right, white, #f5f5f5, white);
}

.row-artistBio{
    min-height: 35vh;
}

.artistImage{
    background-image: url(img/loren-joseph-11eY-tkB9VU-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 15em;
}

.row-artistSocial{
    min-height: 10vh;
}

.btn-request{
    border: solid black 1px;
    font-size: .9em;
    font-weight: 300;
}

.btn-gototop{
    font-size: .9em;
    font-weight: 300;
}
