html, body {
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    height: 7.5em;
}

.nav-item .dropdown-item{
    font-size: 0.9em;
}

h1{
    font-size: 1.1em;
    letter-spacing: 0.15em;
    font-weight: 300;
}